################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCShutdown/FileContentIndex
/.vs/CSCShutdown/CopilotIndices/17.14.1530.14912
