<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CSCShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <CSCShutdown.Properties.Settings>
            <setting name="SType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SDay" serializeAs="String">
                <value>Monday</value>
            </setting>
            <setting name="STime" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="Sopera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DayNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
        </CSCShutdown.Properties.Settings>
    </userSettings>
</configuration>
